<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinjiaxin.yixiapan.mappers.EmailCodeMapper">
    <insert id="add">
        insert into email_code values (#{code.email},#{code.code},#{code.createTime},#{code.status})
    </insert>
    <update id="update">
        update email_code
        set status = 1
        where email = #{code.email} AND code = #{code.code};
    </update>
    <update id="disableEmailCode">
        update email_code
        set status = 1
        where email = #{email} and status = 0;
    </update>
    <select id="selectEmailCode" resultType="com.jinjiaxin.yixiapan.entity.pojo.EmailCode">
        select *
        from email_code
        where email = #{email} AND status = 0;
    </select>
</mapper>