<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinjiaxin.yixiapan.mappers.FileShareMapper">

	<!-- 查询集合-->
	<select id="selectList" resultType="com.jinjiaxin.yixiapan.entity.pojo.FileShare" >
		 SELECT share_id,s.file_id,s.user_id,valid_type,expire_time, share_time,code,show_count
		 <if test="query.queryFileName != null and query.queryFileName">
			 ,f.file_name,f.folder_type,f.file_category,f.file_type,f.file_cover
		 </if>
		 FROM file_share s
		 <if test="query.queryFileName != null and query.queryFileName">
			 left join file_info f on s.file_id = f.file_id and f.user_id = #{query.userId}
		 </if>
		<where>
			<if test="query.shareId != null and query.shareId!=''"> and share_id = #{query.shareId} </if>
			<if test="query.fileId != null and query.fileId!=''"> and s.file_id = #{query.fileId} </if>
			<if test="query.userId != null and query.userId!=''"> and s.user_id = #{query.userId} </if>
			<if test="query.validType != null"> and valid_type = #{query.validType} </if>
			<if test="query.expireTime != null and query.expireTime!=''">
				<![CDATA[ and expire_time=str_to_date(#{query.expireTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.shareTime != null and query.shareTime!=''">
				<![CDATA[ and share_time=str_to_date(#{query.shareTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.code != null and query.code!=''"> and code = #{query.code} </if>
			<if test="query.showCount != null"> and show_count = #{query.showCount} </if>
			<if test="query.shareIdFuzzy!= null and query.shareIdFuzzy!=''"> and share_id like concat('%', #{query.shareIdFuzzy}, '%') </if>
			<if test="query.fileIdFuzzy!= null and query.fileIdFuzzy!=''"> and s.file_id like concat('%', #{query.fileIdFuzzy}, '%') </if>
			<if test="query.userIdFuzzy!= null and query.userIdFuzzy!=''"> and s.user_id like concat('%', #{query.userIdFuzzy}, '%') </if>
			<if test="query.expireTimeStart!= null and query.expireTimeStart!=''">
				<![CDATA[ and expire_time>=str_to_date(#{query.expireTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.expireTimeEnd!= null and query.expireTimeEnd!=''">
				<![CDATA[ and expire_time< date_sub(str_to_date(#{query.expireTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.shareTimeStart!= null and query.shareTimeStart!=''">
				<![CDATA[ and share_time>=str_to_date(#{query.shareTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.shareTimeEnd!= null and query.shareTimeEnd!=''">
				<![CDATA[ and share_time< date_sub(str_to_date(#{query.shareTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.codeFuzzy!= null and query.codeFuzzy!=''"> and code like concat('%', #{query.codeFuzzy}, '%') </if>
		</where>
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		SELECT count(1) FROM file_share
		<where>
			<if test="query.shareId != null and query.shareId!=''"> and share_id = #{query.shareId} </if>
			<if test="query.fileId != null and query.fileId!=''"> and file_id = #{query.fileId} </if>
			<if test="query.userId != null and query.userId!=''"> and user_id = #{query.userId} </if>
			<if test="query.validType != null"> and valid_type = #{query.validType} </if>
			<if test="query.expireTime != null and query.expireTime!=''">
				<![CDATA[ and expire_time=str_to_date(#{query.expireTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.shareTime != null and query.shareTime!=''">
				<![CDATA[ and share_time=str_to_date(#{query.shareTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.code != null and query.code!=''"> and code = #{query.code} </if>
			<if test="query.showCount != null"> and show_count = #{query.showCount} </if>
			<if test="query.shareIdFuzzy!= null and query.shareIdFuzzy!=''"> and share_id like concat('%', #{query.shareIdFuzzy}, '%') </if>
			<if test="query.fileIdFuzzy!= null and query.fileIdFuzzy!=''"> and file_id like concat('%', #{query.fileIdFuzzy}, '%') </if>
			<if test="query.userIdFuzzy!= null and query.userIdFuzzy!=''"> and user_id like concat('%', #{query.userIdFuzzy}, '%') </if>
			<if test="query.expireTimeStart!= null and query.expireTimeStart!=''">
				<![CDATA[ and expire_time>=str_to_date(#{query.expireTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.expireTimeEnd!= null and query.expireTimeEnd!=''">
				<![CDATA[ and expire_time< date_sub(str_to_date(#{query.expireTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.shareTimeStart!= null and query.shareTimeStart!=''">
				<![CDATA[ and share_time>=str_to_date(#{query.shareTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.shareTimeEnd!= null and query.shareTimeEnd!=''">
				<![CDATA[ and share_time< date_sub(str_to_date(#{query.shareTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.codeFuzzy!= null and query.codeFuzzy!=''"> and code like concat('%', #{query.codeFuzzy}, '%') </if>
		</where>
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.jinjiaxin.yixiapan.entity.pojo.FileShare">
		 INSERT INTO file_share
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.shareId != null">
				 share_id,
			</if>
			<if test="bean.fileId != null">
				 file_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.validType != null">
				 valid_type,
			</if>
			<if test="bean.expireTime != null">
				 expire_time,
			</if>
			<if test="bean.shareTime != null">
				 share_time,
			</if>
			<if test="bean.code != null">
				 code,
			</if>
			<if test="bean.showCount != null">
				 show_count,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.shareId!=null">
				 #{bean.shareId},
			</if>
			<if test="bean.fileId!=null">
				 #{bean.fileId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.validType!=null">
				 #{bean.validType},
			</if>
			<if test="bean.expireTime!=null">
				 #{bean.expireTime},
			</if>
			<if test="bean.shareTime!=null">
				 #{bean.shareTime},
			</if>
			<if test="bean.code!=null">
				 #{bean.code},
			</if>
			<if test="bean.showCount!=null">
				 #{bean.showCount},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.jinjiaxin.yixiapan.entity.pojo.FileShare">
		 INSERT INTO file_share
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.shareId != null">
				 share_id,
			</if>
			<if test="bean.fileId != null">
				 file_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.validType != null">
				 valid_type,
			</if>
			<if test="bean.expireTime != null">
				 expire_time,
			</if>
			<if test="bean.shareTime != null">
				 share_time,
			</if>
			<if test="bean.code != null">
				 code,
			</if>
			<if test="bean.showCount != null">
				 show_count,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.shareId!=null">
				 #{bean.shareId},
			</if>
			<if test="bean.fileId!=null">
				 #{bean.fileId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.validType!=null">
				 #{bean.validType},
			</if>
			<if test="bean.expireTime!=null">
				 #{bean.expireTime},
			</if>
			<if test="bean.shareTime!=null">
				 #{bean.shareTime},
			</if>
			<if test="bean.code!=null">
				 #{bean.code},
			</if>
			<if test="bean.showCount!=null">
				 #{bean.showCount},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.shareId!=null">
				 share_id = VALUES(share_id),
			</if>
			<if test="bean.fileId!=null">
				 file_id = VALUES(file_id),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.validType!=null">
				 valid_type = VALUES(valid_type),
			</if>
			<if test="bean.expireTime!=null">
				 expire_time = VALUES(expire_time),
			</if>
			<if test="bean.shareTime!=null">
				 share_time = VALUES(share_time),
			</if>
			<if test="bean.code!=null">
				 code = VALUES(code),
			</if>
			<if test="bean.showCount!=null">
				 show_count = VALUES(show_count),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.jinjiaxin.yixiapan.entity.pojo.FileShare">
		 INSERT INTO file_share(
			 share_id,
			 file_id,
			 user_id,
			 valid_type,
			 expire_time,
			 share_time,
			 code,
			 show_count
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.shareId},
				 #{item.fileId},
				 #{item.userId},
				 #{item.validType},
				 #{item.expireTime},
				 #{item.shareTime},
				 #{item.code},
				 #{item.showCount}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.jinjiaxin.yixiapan.entity.pojo.FileShare">
		 INSERT INTO file_share(
			 share_id,
			 file_id,
			 user_id,
			 valid_type,
			 expire_time,
			 share_time,
			 code,
			 show_count
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.shareId},
				 #{item.fileId},
				 #{item.userId},
				 #{item.validType},
				 #{item.expireTime},
				 #{item.shareTime},
				 #{item.code},
				 #{item.showCount}
			 )
		 </foreach>
			on DUPLICATE key update 
			share_id = VALUES(share_id),
			file_id = VALUES(file_id),
			user_id = VALUES(user_id),
			valid_type = VALUES(valid_type),
			expire_time = VALUES(expire_time),
			share_time = VALUES(share_time),
			code = VALUES(code),
			show_count = VALUES(show_count)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.jinjiaxin.yixiapan.entity.query.FileShareQuery">
		 UPDATE file_share
 		 <set> 
			<if test="bean.shareId != null">
				 share_id = #{bean.shareId},
			</if>
			<if test="bean.fileId != null">
				 file_id = #{bean.fileId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.validType != null">
				 valid_type = #{bean.validType},
			</if>
			<if test="bean.expireTime != null">
				 expire_time = #{bean.expireTime},
			</if>
			<if test="bean.shareTime != null">
				 share_time = #{bean.shareTime},
			</if>
			<if test="bean.code != null">
				 code = #{bean.code},
			</if>
			<if test="bean.showCount != null">
				 show_count = #{bean.showCount},
			</if>
 		 </set>
		<where>
			<if test="query.shareIdFuzzy!= null and query.shareIdFuzzy!=''"> and share_id like concat('%', #{query.shareIdFuzzy}, '%') </if>
			<if test="query.fileIdFuzzy!= null and query.fileIdFuzzy!=''"> and file_id like concat('%', #{query.fileIdFuzzy}, '%') </if>
			<if test="query.userIdFuzzy!= null and query.userIdFuzzy!=''"> and user_id like concat('%', #{query.userIdFuzzy}, '%') </if>
			<if test="query.expireTimeStart!= null and query.expireTimeStart!=''">
				<![CDATA[ and expire_time>=str_to_date(#{query.expireTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.expireTimeEnd!= null and query.expireTimeEnd!=''">
				<![CDATA[ and expire_time< date_sub(str_to_date(#{query.expireTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.shareTimeStart!= null and query.shareTimeStart!=''">
				<![CDATA[ and share_time>=str_to_date(#{query.shareTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.shareTimeEnd!= null and query.shareTimeEnd!=''">
				<![CDATA[ and share_time< date_sub(str_to_date(#{query.shareTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.codeFuzzy!= null and query.codeFuzzy!=''"> and code like concat('%', #{query.codeFuzzy}, '%') </if>
		</where>
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from file_share
		<where>
			<if test="query.shareIdFuzzy!= null and query.shareIdFuzzy!=''"> and share_id like concat('%', #{query.shareIdFuzzy}, '%') </if>
			<if test="query.fileIdFuzzy!= null and query.fileIdFuzzy!=''"> and file_id like concat('%', #{query.fileIdFuzzy}, '%') </if>
			<if test="query.userIdFuzzy!= null and query.userIdFuzzy!=''"> and user_id like concat('%', #{query.userIdFuzzy}, '%') </if>
			<if test="query.expireTimeStart!= null and query.expireTimeStart!=''">
				<![CDATA[ and expire_time>=str_to_date(#{query.expireTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.expireTimeEnd!= null and query.expireTimeEnd!=''">
				<![CDATA[ and expire_time< date_sub(str_to_date(#{query.expireTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.shareTimeStart!= null and query.shareTimeStart!=''">
				<![CDATA[ and share_time>=str_to_date(#{query.shareTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.shareTimeEnd!= null and query.shareTimeEnd!=''">
				<![CDATA[ and share_time< date_sub(str_to_date(#{query.shareTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.codeFuzzy!= null and query.codeFuzzy!=''"> and code like concat('%', #{query.codeFuzzy}, '%') </if>
		</where>
	</delete>

	<!-- 根据ShearId修改-->
	<update id="updateByShareId" parameterType="com.jinjiaxin.yixiapan.entity.pojo.FileShare">
		 UPDATE file_share
 		 <set> 
			<if test="bean.fileId != null">
				 file_id = #{bean.fileId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.validType != null">
				 valid_type = #{bean.validType},
			</if>
			<if test="bean.expireTime != null">
				 expire_time = #{bean.expireTime},
			</if>
			<if test="bean.shareTime != null">
				 share_time = #{bean.shareTime},
			</if>
			<if test="bean.code != null">
				 code = #{bean.code},
			</if>
			<if test="bean.showCount != null">
				 show_count = #{bean.showCount},
			</if>
 		 </set>
 		 where share_id=#{shareId}
	</update>

    <update id="updateShareShowCount">
		update file_share
		set show_count = show_count + 1
		where share_id = #{shareId};
	</update>

    <!-- 根据ShearId删除-->
	<delete id="deleteByShareId">
		delete from file_share where share_id=#{shareId}
	</delete>

	<delete id="deleteFileShareBatch">
		delete
		from file_share
		where user_id = #{userId} and share_id in (<foreach collection="shareIdArray" separator="," item="item">#{item}</foreach>);
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByShareId" resultType="com.jinjiaxin.yixiapan.entity.pojo.FileShare" >
		select * from file_share where share_id=#{shareId}
	</select>

</mapper>